# Dependencies
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Build artifacts
/dist
/build
/out
/coverage

# Environment variables
.env
.env.local
.env.*.local

# Editor/OS specific files
.DS_Store
Thumbs.db
.vscode/
*.sublime-project
*.sublime-workspace

# Other common ignores
*.log
*.tmp
*.swp